body {
    background: #eee
}

a {
    text-decoration:none;
    color: #33373a;
}

a:hover {
    color: #0b0a0a;
}

.row > #nav-title {
    color: white;
}

.productsImage{
    height: 30vh;
    object-fit: cover;
}

.product-image{
height: 200px;
}

#single-product-card{
    width: 444px;
}

.white {
    color: white;
}

.white:hover {
    color: #e7bd4c;
}

.yellow {
    color: #e7bd4c;
}

.yellow:hover {
    color: #a3a2b5;
}

#connexion {
    font-size: 1.15em;
}

.fab {
    font-size: 2.3em;
}
